@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
	* {
		@apply pipboyBackground;
	}
} */

@layer base {
	* {
		/* background-color: theme("colors.pipboyBackground"); */
		color: theme("colors.pipboyGreen");
	}

	h1 {
		font-size: theme("fontSize.headlineLarge");
	}
	h2 {
		font-size: theme("fontSize.headlineMedium");
	}
	h3 {
		font-size: theme("fontSize.headlineSmall");
	}
	h4 {
		font-size: theme("fontSize.titleLarge");
	}
	h5 {
		font-size: theme("fontSize.titleMedium");
	}
	h6 {
		font-size: theme("fontSize.titleSmall");
	}
	p {
		font-size: theme("fontSize.bodyLarge");
	}
	.small {
		font-size: theme("fontSize.bodySmall");
	}

	/* a {
		color: theme("colors.pipboyYellow");
	} */

	a:hover {
		color: theme("colors.pipboyGreen");
	}

	code {
		background-color: theme("colors.pipboyBackground");
		color: theme("colors.pipboyYellow");
	}

	blockquote {
		border-left-color: theme("colors.pipboyDarkGreen");
		color: theme("colors.pipboyGray");
	}
}
